body {
    display: flex;
    flex-direction: column;
    border: 1px;
    min-height: 95vh;
    padding: 10px;
    background-color: lightslategray;
}
header {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 3px;
    background-color:lightslategray;
} 

header > h1 {
    flex-grow: 2;
    text-align: center;
    text-decoration: underline;

}
header > span {
    padding-top: 45px;
}
.main-content {
    border: 1px solid black;
    flex-grow: 2;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*top right bottom left */
    padding: 15px 10px 16px 20px;
    
}
.footer{
    border-bottom: 1px solid black;
}
div.blog-container > div > span.catagory {
    color: rgb(0, 174, 237);
    font-size: 15px;
}
div.blog-container > div > span.title {
    font-weight: bold;
    font-size: 20px;
}
div.blog-container > div > span.date {
    font-size: 12px;
    color: lightgray;
}
.blog-container {
    border: 1px solid black;
    height: 175px;/*250px;*/
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px; 
}
div.blog-container > div > span.text {
    color: green; 
}
div.blog-container > div > span.post {
    font-weight: bold;
    font-size: 20px;

}
div.blog-container > div > span.date-1{
    color: rgb(101, 97, 97);
}
